html {
  position: relative;
  height: 100vh;
}

.height-50 {
  height: 50%;
}

.title {
  font-size: 3em;
}

.formatted-num {
  font-size: 7.5em;
}

@media (max-width: 800px) {

  .title {
    font-size: 1.5em;
  }

  .formatted-num {
    font-size: 3em;
  }

}

.margin-top-lg {
  /*margin-top: 1em;*/
}
